.CardItemContainer {
    display:flex;
    flex-direction: column;
    width: 150px;
    padding: 30px;
    margin: 30px;
    background-color: rgb(100, 100, 100);
    border: 1px solid #e70101;
    border-radius: 10px;
    width: 200px;
    color: white;
    align-items: center;
}

.imgItem{
    width: 200px;

}

h1{
    font-size: 2rem;
    padding: 0px;
    margin: 0px;
}